@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @variants responsive {
        .card {
          @apply shadow-md rounded-lg overflow-auto no-scrollbar bg-yellow-50
        }
        .card-title {
          @apply p-3 text-lg bg-yellow-100
        }
        .card-body {
          @apply p-3
        }

        .form-control {
          @apply p-2 text-sm rounded-lg  border-2 border-yellow-300 focus:outline-none focus:border-yellow-500
        }
    }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
}